<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <!-- development version, includes helpful console warnings -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="script.js" defer></script>
    </head>
    <title>Vue Intro</title>
  </head>
  <body>
    <div id="app1">
      {{ message }}
      <ul>
        <li v-for="n in 5">{{n}}</li>
        <li v-for="n in countdown">{{n}}</li>
        <li v-for="(fruit, i) in fruits">{{i}} - {{fruit}}</li>
        <li v-for="(value, key, index) in profile">{{key}} -{{value}}</li>
      </ul>
    </div>
    <div id="app2">
      <h3>Your name is: {{ name }}</h3>
      <input type="text" v-model="name" />
    </div>

    <div id="app3">
      <div v-if="count > 10">Count is greater than 10</div>
      <div v-else-if="count == 10">Count is 10</div>
      <div v-else>Count is less than 10</div>
    </div>
  </body>
</html>
